/* Define CSS Variables */
:root {
    --neon-blue: #00FFFF;
    --hover-blue: #00CCFF;
    --dark-bg: rgba(0, 0, 50, 0.7);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('assets/background.gif') no-repeat center center fixed; 
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgba(0, 0, 50, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.5);
    padding: 30px;
    max-width: 600px;
    width: 100%;
    animation: fadeIn 1s ease-in-out;
}

h1, h2, label, .range-label, .chart-label {
    color: var(--neon-blue);
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="number"], select, input[type="range"], button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: var(--dark-bg);
    color: #fff;
    border: 2px solid var(--neon-blue);
    transition: all 0.3s;
}

input[type="range"], button {
    height: 8px;
    cursor: pointer;
}

input[type="number"]:focus, select:focus, button:focus {
    outline: none;
    border-color: var(--hover-blue);
}

button {
    background-color: var(--neon-blue);
    color: #000;
    font-size: 1.1em;
}

button:hover {
    background-color: var(--hover-blue);
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: var(--dark-bg);
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb, input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--neon-blue);
    cursor: pointer;
}

#takeToTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: var(--neon-blue);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 255, 255, 0.5);
    transition: background-color 0.3s, transform 0.3s;
}

#takeToTop:hover {
    background-color: var(--hover-blue);
    transform: scale(1.1);
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

#pieChart, #electricityPieChart {
    margin-top: 20px;
    animation: fadeIn 1.5s ease-in-out;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 255, 255, 0.5);
    border-radius: 6px;
    border: 3px solid var(--dark-bg);
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 50, 0.3);
    border-radius: 6
